@model BlogPostViewModel
@{ 
    var post = Model;
}
<div class="post-info clearfix">
    <i class="fa fa-user" aria-hidden="true"></i><span class="post-author">@post.Author</span>
    <i class="fa fa-calendar" aria-hidden="true"></i><span class="post-date">@post.CreatedOnFriendly</span>
    <i class="fa fa-folder" aria-hidden="true"></i><span class="post-category"><a href="@post.Category.RelativeLink">@post.Category.Title</a></span>
    @if (post.Tags.Count > 0)
    {
        <i class="fa fa-tags" aria-hidden="true"></i>
        <span class="post-tags">
            @foreach (var tag in post.Tags)
            {
                <a href="@tag.RelativeLink">@tag.Title</a>
            }
        </span>
    }
@if (post.ShowDisqus)
{
    <i class="fa fa-comment" aria-hidden="true"></i><span class="post-author"><a href="@post.RelativeLink#disqus_thread" data-disqus-identifier="@post.DisqusPageIdentifier"></a></span>
}
</div>