@model BlogPostListViewModel
@{
    var showExcerpt = Model.ShowExcerpt;
    var blogPostViewModels = Model.BlogPostViewModels;
}

<div class="posts">
    @foreach (var postVM in blogPostViewModels)
    {
        var blogPost = postVM;
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">

                    <a href="@blogPost.RelativeLink">@blogPost.Title</a><br />

                </h1>
                @await Html.PartialAsync("_PostInfo", postVM)
            </header>
            <section class="post-body">
                @if (showExcerpt)
                {
                    @Html.Raw(blogPost.Excerpt) <span style="padding-left:5px"><a href="@blogPost.RelativeLink">Read More</a></span>
                }
                else
                {
                    @Html.Raw(blogPost.Body)
                }
            </section>
        </article>
    }
</div>

@if (Model.ShowNewer)
{
    if (Model.NewerPageIndex <= 1)
    {
        <a class="btn btn-default" href="/" role="button">Newer posts</a>
    }
    else
    {
        <a class="btn btn-default" href="?page=@Model.NewerPageIndex" role="button">Newer posts</a>
    }
}
@if (Model.ShowOlder)
{
    <a class="btn btn-default" href="?page=@Model.OlderPageIndex" role="button">Older posts</a>
}