@model Tuple<Tag, BlogPostViewModelList>

@{
    var tag = Model.Item1;
    var postVMs = Model.Item2.PostViewModels;
    ViewData["Title"] = $"Latest '{tag.Title}' Posts";
}

<div class="posts">
    <h1 class="tag-title">
        Tag: @tag.Title
    </h1>

    @foreach (var postVM in postVMs)
    {
        var post = postVM.BlogPost;
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">
                    <a href="@post.RelativeLink">@post.Title</a>
                </h1>
                @await Html.PartialAsync("_PostInfo", postVM)
            </header>
            <div class="post-body">
                @Html.Raw(post.Excerpt) <span style="padding-left:5px"><a href="@post.RelativeLink">Read More</a></span>
            </div>
        </article>
    }

</div>
