@model Tuple<Tag, BlogPostList>

@{
    ViewData["Title"] = Model.Item1.Title;
    var category = Model.Item1;
    var postList = Model.Item2;
    var settings = await blogService.GetSettingsAsync();
}

<div class="posts">
    <h1 class="tag-title">
        Tag: @Model.Item1.Title
    </h1>

    @foreach (var post in postList)
    {
        <article class="post">
            <header class="post-header">
                <h1 class="post-title">
                    <a href="@post.RelativeLink">@post.Title</a>
                </h1>
                @await Html.PartialAsync("_PostInfo", post)
            </header>
            <div class="post-body">
                @Html.Raw(post.Excerpt) <span style="padding-left:5px"><a href="@post.RelativeLink">Read More</a></span>
            </div>
        </article>
    }

</div>
