@{
    var cats = (await blogService.GetCategoriesAsync()).Where(c => c.Count > 0).ToList();
    var tags = (await blogService.GetTagsAsync()).Where(t => t.Count > 0).ToList();
    var years = await blogService.GetArchivesAsync();

    var coreSettings = await settingService.GetSettingsAsync<CoreSettings>();
    var blogSettings = await settingService.GetSettingsAsync<BlogSettings>();

    var title = ViewData["Title"] == null ? coreSettings.Title : $"{ViewData["Title"]} - {coreSettings.Title}";
    string description = ViewData["Description"] == null ? coreSettings.Tagline : ViewData["Description"] as string;
    var domain = Context.Request.Host;
    var showDisqus = blogSettings.AllowComments && blogSettings.CommentProvider == ECommentProvider.Disqus;
}
<!DOCTYPE html>
<html>
<head>
    <title>@title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:domain" content="@domain" />
    <meta name="twitter:title" property="og:title" itemprop="title name" content="@title" />
    @if (!string.IsNullOrEmpty(description))
    {
        <meta name="description" content="@description" />
        <meta name="twitter:description" property="og:description" itemprop="description" content="@description" />
    }
    @RenderSection("Canonical", required: false)
    <link rel="EditURI" type="application/rsd+xml" title="RSD" href="~/rsd" />
    <link rel="wlwmanifest" type="application/wlwmanifest+xml" href="~/wlwmanifest.xml" /> 
    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.css" />
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute" />
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @await Html.PartialAsync("_Analytics")
</head>
<body>
    <nav class="navbar navbar-default navbar-custom">
        <div class="container-fluid">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    Menu <i class="fa fa-bars"></i>
                </button>
                <a class="navbar-brand" href="/">@coreSettings.Title</a>
            </div>

            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/about">About</a>
                    </li>
                    <li>
                        <a href="https://github.com/FanrayMedia/Fanray">GitHub</a>
                    </li>
                    <li>
                        @await Html.PartialAsync("_LoginPartial")
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <partial name="_CookieConsentPartial" />
    <div class="container">
        <div class="blog-wrapper">
            <div class="blog-content">
                @RenderBody()
                <footer class="site-footer">
                    <p class="text-muted pull-left">&copy; @DateTime.Now.Year - @coreSettings.Title</p>
                    <p class="text-muted pull-right">Powered by <a href="https://github.com/FanrayMedia/Fanray"><strong>Fanray</strong></a></p>
                </footer>
            </div>
            <aside class="blog-sidebar">
                <div class="widgets">
                    <div class="widget">
                        <h4 class="widget-header">Categories</h4>
                        <div class="widget-content">
                            <ul class="widget-categories">
                                @foreach (var t in cats)
                                {
                                    <li>
                                        <a title="@t.Description" href="@t.RelativeLink">@t.Title (@t.Count)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-header">Tags</h4>
                        <div class="widget-content">
                            <ul class="widget-tags">
                                @foreach (var t in tags)
                                {
                                    <li>
                                        <a class="tag" rel="tag" title="@t.Description" href="@t.RelativeLink" style="background-color:@t.Color;">@t.Title</a>
                                        <span class="tag-multiplier">× @t.Count</span>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="widget">
                        <h4 class="widget-header">Archives</h4>
                        <div class="widget-content">
                            <ul class="month-list">
                                @foreach (var year in years)
                                {
                                    <li class="year">
                                        @year.Key
                                    <ul class="months">
                                        @foreach (var item in year.Value)
                                        {
                                            <li>
                                                <a href="@item.Url">@item.Title</a> (@item.Count)
                                            </li>
                                        }
                                    </ul>
                                </li>
                            }
                            </ul>
                        </div>
                    </div>
                </div>
            </aside>
        </div>
    </div>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="https://ajax.aspnetcdn.com/ajax/bootstrap/3.3.7/bootstrap.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa">
        </script>
    </environment>
    <script src="~/js/syntaxhighlighter.min.js"></script>
    @RenderSection("Scripts", required: false)
    <script type="text/javascript">
        $(document).ready(function () {
            $('.month-list .year').click(function () {
                $(this).find('.months').slideToggle();
            });
        });
    </script>
    @if (showDisqus)
    {
        <script id="dsq-count-scr" src="@string.Format("//{0}.disqus.com/count.js", blogSettings.DisqusShortname)" async></script>
    }
</body>
</html>
