@model IEnumerable<Category>

<div class="widget">
    <h4 class="widget-header">Categories</h4>
    <div class="widget-content">
        <ul class="widget-categories">
            @foreach (var t in Model)
            {
                <li>
                    <a href="@t.RssRelativeLink">
                        <i class="icon-rss" aria-hidden="true" style="color:orange"></i>
                    </a>
                    <a title="@t.Description" href="@t.RelativeLink">@t.Title (@t.Count)</a>
                </li>
            }
        </ul>
    </div>
</div>