@{ 
    var coreSettings = await settingService.GetSettingsAsync<CoreSettings>();
    var currentUser = await userManager.GetUserAsync(Context.User);
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Fanray Admin Console</title>
    <link rel="shortcut icon" href="/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
    <link href="https://unpkg.com/vuetify@1.2.8/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="~/admin/css/admin.css" asp-append-version="true" />
    @RenderSection("Styles", required: false)
</head>
<body>
    @Html.AntiForgeryToken()

    <div id="app" v-cloak>
        <v-app light>
            @* Drawer *@
            <v-navigation-drawer :clipped="$vuetify.breakpoint.lgAndUp"
                                 v-model="drawer"
                                 fixed
                                 app>
                <v-list dense style="padding-top:10px">
                    <template v-for="nav in adminNavs">
                        <v-list-tile :href="nav.url" :value="nav.active" active-class="admin-active-nav">
                            <v-list-tile-action>
                                <v-icon>{{ nav.icon }}</v-icon>
                            </v-list-tile-action>
                            <v-list-tile-content>
                                <v-list-tile-title>
                                    {{ nav.text }}
                                </v-list-tile-title>
                            </v-list-tile-content>
                            <v-list-tile-action v-show="nav.actionIcon">
                                <a style="text-decoration:none" :href="nav.actionLink"><v-icon>{{ nav.actionIcon }}</v-icon></a>
                            </v-list-tile-action>
                        </v-list-tile>
                    </template>
                </v-list>
            </v-navigation-drawer>
            @* Topbar *@
            <v-toolbar :clipped-left="$vuetify.breakpoint.lgAndUp"
                       color="blue darken-3"
                       dark
                       app
                       dense
                       fixed>
                <v-toolbar-side-icon @@click.stop="drawer = !drawer"></v-toolbar-side-icon>
                <v-toolbar-title class="hidden-sm-and-down">@coreSettings.Title</v-toolbar-title>
                <v-spacer></v-spacer>
                <v-menu light offset-y left transition="scale-transition">
                    <v-btn icon slot="activator">
                        <v-avatar size="32px">
                            <img gravatar-email="@currentUser.Email" title="@currentUser.DisplayName" />
                        </v-avatar>
                    </v-btn>
                    <v-list dense>
                        <v-list-tile @@click="">
                            <v-icon class="menu-action-icon">account_circle</v-icon>
                            <v-list-tile-title>Profile</v-list-tile-title>
                        </v-list-tile>
                        <v-list-tile @@click="logout">
                            <v-icon class="menu-action-icon">power_settings_new</v-icon>
                            <v-list-tile-title>Logout</v-list-tile-title>
                        </v-list-tile>
                    </v-list>
                </v-menu>
                <v-btn icon href="/" title="View blog">
                    <v-icon>public</v-icon>
                </v-btn>
            </v-toolbar>
            @* Content *@
            <v-content>
                @RenderBody()
            </v-content>
            <v-snackbar :timeout="snackbar.timeout"
                        bottom
                        right
                        :color="snackbar.color"
                        v-model="snackbar.show">
                <span style="font-size:larger">{{ snackbar.text }}</span>
                <v-btn dark flat @@click.native="snackbar.show = false" icon>
                    <v-icon>close</v-icon>
                </v-btn>
            </v-snackbar>
        </v-app>
    </div>
    <environment include="Development">
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
        <script src="https://unpkg.com/vuetify@1.2.8/dist/vuetify.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://unpkg.com/vue@2.5.17/dist/vue.min.js"></script>
        <script src="https://unpkg.com/vuetify@1.2.8/dist/vuetify.min.js"></script>
    </environment>
    <script src="https://unpkg.com/axios@0.18.0/dist/axios.min.js"></script>
    @RenderSection("ComponentScripts", required: false)
    <script>
        let adminMixin = {
            data: function () {
                return {
                    adminNavs: [
                        { icon: 'list', text: 'Posts', url: '/admin/posts', active: false, actionIcon: 'add_circle', actionLink: '/admin/compose' },
                        { icon: 'insert_photo', text: 'Media', url: '/admin/media', active: false },
                        { icon: 'folder', text: 'Categories', url: '/admin/categories', active: false },
                        { icon: 'label', text: 'Tags', url: '/admin/tags', active: false },
                        { icon: 'supervisor_account', text: 'Users', url: '/admin/users', active: false },
                        { icon: 'settings', text: 'Settings', url: '/admin/settings', active: false },
                    ],
                };
            }
        };
    </script>
    <script src="~/admin/js/admin.js" asp-append-version="true"></script>
</body>
</html>
