@model BlogPostListViewModel

@{
    var posts = Model.BlogPostViewModels;
    ViewData["Title"] = $"Latest '{Model.CategoryTitle}' Posts";
}

<div class="category-title">
    <h1>
        Categeory: @Model.CategoryTitle
    </h1>
    @if (!Model.Description.IsNullOrEmpty())
    {
    <h5>
        @Model.Description
    </h5>
    }
</div>

@foreach (var post in posts)
{
    <article>
        <header>
            <h1>
                <a href="@post.RelativeLink">@post.Title</a>
            </h1>
            @await Html.PartialAsync("_PostInfo", post)
        </header>
        <div class="post-body">
            @Html.Raw(post.Excerpt) <span style="padding-left:5px"><a href="@post.RelativeLink">Read More</a></span>
        </div>
    </article>
}
