@model Tuple<IEnumerable<Fan.Blog.Models.Tag>, Fan.Web.Pages.Widgets.BlogTags.BlogTagsWidget>
@{
    var tags = Model.Item1;
    var widget = Model.Item2;
}

<div class="widget">
    @if (!widget.Title.IsNullOrEmpty())
    { 
        <h4 class="widget-header">@widget.Title</h4> 
    }
    <div class="widget-body">
        <ul class="blog-tags">
            @foreach (var t in tags)
            {
                <li>
                    <a class="tag" rel="tag" title="@t.Description" href="@t.RelativeLink" style="background-color:@t.Color;">@t.Title</a>
                    <span class="tag-multiplier">× @t.Count</span>
                </li>
            }
        </ul>
    </div>
</div>

